form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Forum', cursive;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #35655F;
}

form input,
form select,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #35655F;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #659B87;
}
